.center{
    text-align:center ;
}
h1{
    text-align: left;
}

/* body{
    background-color: pink;
} */

.center {
    display : block;
    margin-left:auto;
    margin-right: auto;
    width: 90%;

}

span {
    color: yellow;
}

.one{
    background-color: pink;
}

.two{
    background-color: rgb(185, 220, 232);
}

.first{
    color: red;
}

.second{
    color: yellow;
}

#two{
    background-color: rgb(160, 224, 146);
    width:100%;
    text-align: right;
}